.contact-us {

  &__container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    @include media-M {
      padding-top: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__contacts {
    width: 413px;
    margin: 0 20px 10px 0;
    display: flex;
    justify-content: space-between;
    @include media-M {
      margin-right: 0;
      flex-direction: column;
      width: 280px;
    }
  }

  &__label {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }

  &__link {
    display: block;
    width: 152px;
    margin-bottom: 24px;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    color: $c-dark;
    @include media-S {
      width: 280px;
    }
  }

  &__form {
    width: 413px;
    @include media-M {
      width: 280px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    cursor: pointer;
    background: #f7f8ff;
    border: 1px solid $c-white;
    border-radius: 8px;
    padding: 17px 0 17px 17px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #8f99a8;
    @include hover (border, 2px solid #ccd0e0);

    &:focus {
      border: 2px solid $c-blue;
    }

    &:last-of-type {
      resize: none;
      margin-bottom: 32px;
    }

    &--size-big {
      height: 144px;
    }
  }

  &__button {
    width: 100%;
  }
}
