.nav {

  &__menu {
    max-width: $maxContentWidth;
    margin: 0 auto;
    padding: 150px 120px;
    @include media-S {
      padding: 120px 20px 52px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }

  &__item {
    display: block;
    margin-bottom: 30px;
  }

  &__link {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $c-white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    @include hover(border-color, $c-white);

    &--phone {
      font-size: 12px;
      line-height: 16px;
      border-bottom: 2px solid $c-white;
    }
  }

  &__phone {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $c-white;
  }
}
