.page {
  background: $c-gray;
  font-family: "Roboto", sans-serif;
  width: 100vw;

  &__header {
    height: 100vh;
    background-image: url(../images/header1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    max-width: $maxContentWidth;
    margin: 0 auto;
    padding: 104px $pagePaddingX 72px;
    @include media-S {
      padding: 64px $mobPagePaddingX;
    }
  }
}
