.section-title {
  position: relative;
  width: 326px;
  margin: 150px auto 60px;
  @extend %font-48;
  text-align: center;

  &::after {
    position: absolute;
    left: calc(50% - #{$iconSize/2});
    top: 48px;
    content: "";
    display: block;
    width: $iconSize;
    height: $iconSize;
    background-image: url(../images/Icon-Corona-virus.png);
  }

  @include media-M {
    margin: 64px auto 53px;
    font-size: 36px;
    line-height: 36px;
  }
}
