@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin media-S {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-M {
  @media (max-width: 992px) {
    @content;
  }
}
